<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.d3ifcool.tatacarashalat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".JadwalShalat.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Shalat.ShalatActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Shalat.ShalatSubuh"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Shalat.ShalatDzuhur"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Shalat.ShalatAshar"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Shalat.ShalatMaghrib"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Shalat.ShalatIsya"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Shalat.DetailSubuh"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Shalat.DetailDzuhur"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Shalat.DetailAshar"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Shalat.DetailMaghrib"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Shalat.DetailIsya"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Wudhu.WudhuActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".JadwalShalat.JadwalShalatActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Wudhu.DetailTayamum"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Wudhu.DetailWudhu"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Wudhu.Tayamum"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Wudhu.Wudhu"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Doa.DetailDoaSehariHari"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Doa.DoaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Doa.DoaSehariHari"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".RateActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Dzikir.DzikirShalat"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Dzikir.DzikirActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Dzikir.DetailDzikirShalat"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Doa.DoaShalatFardhu"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Doa.DoaShalatSunnah"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Doa.DetailDoaShalatSunnah"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Doa.DetailDoaShalatFardhu"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Dzikir.DetailDzikirHarian"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Dzikir.DzikirHarian"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

    </application>

</manifest>